common --enable_platform_specific_config
#build:jdk14 --define=ABSOLUTE_JAVABASE=/Library/Java/JavaVirtualMachines/jdk-14.0.2.jdk/Contents/Home
#build:jdk14 --javabase=@bazel_tools//tools/jdk:absolute_javabase
#build:jdk14 --host_javabase=@bazel_tools//tools/jdk:absolute_javabase
#build:jdk14 --java_toolchain=@bazel_tools//tools/jdk:toolchain_vanilla
#build:jdk14 --host_java_toolchain=@bazel_tools//tools/jdk:toolchain_vanilla
build:macos --java_toolchain=@remote_java_tools_darwin//:toolchain_jdk_14
build:macos --host_java_toolchain=@remote_java_tools_darwin//:toolchain_jdk_14
build:macos --javabase=@openjdk14_darwin_archive//:runtime
build:macos --host_javabase=@openjdk14_darwin_archive//:runtime
#build --config=jdk14
