common --enable_platform_specific_config

build --java_toolchain=//:toolchain_java17
build --host_java_toolchain=//:toolchain_java17

build:linux --javabase=@openjdk17_linux_archive//:runtime
build:linux --host_javabase=@openjdk17_linux_archive//:runtime

build:macos --javabase=@openjdk17_darwin_archive//:runtime
build:macos --host_javabase=@openjdk17_darwin_archive//:runtime
